$accent: #BD9855; // Accent Color
$fontsize: 16px; // Body Font Size
$textColor: #646f7b; // Text Color
$titleColor: #0c1d32; // Title Color
$lineheight: 130%; // Document Line Height
$userfont: nunito, sans-serif; // User Font Family
$titlefont: great, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Colors
$green: #3a413c;
$gold: #bd9855;
$white: #fff;
$black: #000;
